h1 {
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
}
    p {
  text-align: center;
  font-size: 150%;
}
a:link {
  color: rgb(99, 198, 243);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(99, 198, 243);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 117, 172);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: rgb(99, 198, 243);
  background-color: transparent;
  text-decoration: none;
}
